{{#if choosing}}
<li tabindex="{{computedIndex}}" class="row sample-sound" {{action 'playSampleImmediate' on="focusIn"}}>
    <span class="col-xs-3 sample-name">{{sample.name}}</span>
    <div id="{{unbound sample.name}}-play" class="col-xs-1 sample-play icon-play no-click-sample" {{action 'playSample'}}>
        <audio id="{{unbound sample.name}}-audio" {{bind-attr src=audio}} style="visibility:hidden;"></audio>
    </div>
    <div class="col-xs-1 select-sound">
        <!-- .squaredThree -->
        <div class="squaredThree" {{action 'checkSample'}}>
            <input type="checkbox" value="None" id="{{unbound sample.name}}" name="check" {{bind-attr checked=isChosen}}/>
            <label for="{{unbound sample.name}}"></label>
        </div>
        <!-- end .squaredThree -->
    </div>
    {{#if alreadyPurchased}}
        <p class="col-xs-6" style="color: rgba(0,0,0,0.25); font-family: Roboto; font-size: 17px; white-space: nowrap; padding-top:7px; font-weight: 300;">PURCHASED</p>
    {{/if}}
</li>
{{else}}
    {{#if typeMatches}}
    <li tabindex="{{computedIndex}}" id="{{unbound sample.name}}-chosen" class="row sample-sound" {{action 'playSampleImmediate' on="focusIn"}}>
        <div class="col-xs-8 sample-info">
            <span class="sample-name">{{sample.name}}</span>
            <span class="sample-name-kit">-{{sample.kit.name}}</span>
        </div>
        <div id="{{unbound sample.name}}-play-2" class="col-xs-2 sample-play icon-play no-click-sample" {{action 'playSample'}}>
            <audio id="{{unbound sample.name}}-audio-2" {{bind-attr src=audio}} style="display:none"></audio>
        </div>
        <div class="col-xs-2 select-sound" {{action 'removeSample'}}>
            <div class="icon-remove"></div>
        </div>
    </li>
    {{else}}
    {{/if}}
{{/if}}