<div class="col-xs-3 lp-choice">
    <div id="lp-choice-genre-1" class="lp-choice-genre cds-background-image"></div>
    <div class="squaredThree" {{action 'checkHipHop'}}>
        <input type="checkbox" id="squaredThree-hip-hop" name="check" {{bind-attr checked=hipHop}} value="None"/>
        <label for="squaredThree-hip-hop"></label>
    </div>                                
</div>
<div class="col-xs-3 lp-choice">
    <div id="lp-choice-genre-2" class="lp-choice-genre cds-background-image"></div>
    <div class="squaredThree" {{action 'checkElectronic'}}>
        <input type="checkbox" id="squaredThree-electronic" name="check" {{bind-attr checked=electronic}} value="None"/>
        <label for="squaredThree-electronic"></label>
    </div>                                
</div>
<div class="col-xs-3 lp-choice">
    <div id="lp-choice-genre-3" class="lp-choice-genre cds-background-image"></div>
    <div class="squaredThree" {{action 'checkExperimental'}}>
        <input type="checkbox" id="squaredThree-experimental" name="check" {{bind-attr checked=experimental}} value="None"/>
        <label for="squaredThree-experimental"></label>
    </div>                                
</div>
<div class="col-xs-1 lp-choice">
    <div id="lp-choice-equal" class=""></div>                                
</div>
{{!-- <div class="col-xs-2 lp-choice">
    <div id="lp-choice-result-eh" class="lp-choice-result lp-choice-genre cds-background-image"></div>                  
</div> --}}
<div class="col-xs-2 lp-choice lp-choice-result">


    {{#if experimentalHipHop}}
        {{animated-choice elementId="lp-choice-result-eh"}}
    {{else if trap}}
        {{animated-choice elementId="lp-choice-result-trap"}}
    {{else if experimentalEDM}}
        {{animated-choice elementId="lp-choice-result-eedm"}}
    {{else if currentSingleChoice}}
        {{animated-choice elementId=currentSingleChoice}}
    {{/if}}
</div>





