                <div class="kb-slide-section-container kb-checkout-subroute">

                    <div class="row filter-row">
                        <h3 class="kb-checkout-headline col-xs-7 billing-info">Payment Information</h3>
                        {{#link-to 'kb-payment-method' class="icon-arrow-left3"}}Back to payment methods{{/link-to}}
                    </div>
                    <div class="row kit-row">

                        <div class="col-xs-12 kb-checkout-section-container payment-info">                            
                            <form class="cds-form" action="" method="POST" id="payment-form"> 
                                <div class="billing-info">
                                    <div class="row">
                                        <div class="col-xs-6 cds-fieldset">
                                            {{input placeholder="First Name" class="cds-text-input" type="text" value=firstName}}
                                            {{#if errors.firstName}}
                                                {{#if firstName}}
                                                    <span class="cds-error-message-flag">{{errors.firstName}}</span>
                                                {{else if submissionErrors.firstName}}
                                                    <span class="cds-error-message-flag">{{submissionErrors.firstName}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                        <div class="col-xs-6 cds-fieldset">
                                            {{input placeholder="Last Name" class="cds-text-input" type="text" value=lastName}}
                                            {{#if errors.lastName}}
                                                {{#if lastName}}
                                                    <span class="cds-error-message-flag">{{errors.lastName}}</span>
                                                {{else if submissionErrors.lastName}}
                                                    <span class="cds-error-message-flag">{{submissionErrors.lastName}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 cds-fieldset">
                                            {{input placeholder="Credit / Debit Card Billing Postal Code" class="cds-text-input" type="text" value=addressZip}}
                                            {{#if errors.addressZip}}
                                                {{#if addressZip}}
                                                    <span class="cds-error-message-flag">{{errors.addressZip}}</span>
                                                {{else if submissionErrors.addressZip}}
                                                    <span class="cds-error-message-flag">{{submissionErrors.addressZip}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </div>                                    
                                    </div>                                    
                                </div>                               
                                <div class="credit-card-info" style="float:left; width: 100%; margin-bottom: 10px;">
                                    <div class="col-xs-7" style="padding: 0px;">
                                        <span class="billing-span" style="font-size: 16px; display: block;">Credit Card Information: </span>
                                        <div class="cds-fieldset" style="float: left;">
                                            {{input id="card-number-billing" placeholder="Card Number" class="cds-text-input" type="text" size="21" maxlength="19" value=cardNumber}}
                                            {{#if errors.cardNumber}}
                                                {{#if cardNumber}}
                                                    <span class="cds-error-message-flag" style="display: block;">{{errors.cardNumber}}</span>
                                                {{else if submissionErrors.cardNumber}}
                                                    <span class="cds-error-message-flag" style="display: block;">{{submissionErrors.cardNumber}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                        <div class="cds-fieldset" style="float: left;">
                                            {{input id="cvc-billing" placeholder="CVV" class="cds-text-input" type="text" size="4" maxlength="4" value=cvc}}
                                            {{#if errors.cvc}}
                                                {{#if cvc}}
                                                    <span class="cds-error-message-flag" style="display: block;">{{errors.cvc}}</span>
                                                {{else if submissionErrors.cvc}}
                                                    <span class="cds-error-message-flag" style="display: block;">{{submissionErrors.cvc}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                        <!--<input type="text" size="20" data-stripe="number"/>-->                                    
                                    </div>
                                    <div class="col-xs-5 cds-fieldset">
                                        <span class="billing-span" style="font-size: 16px; display: block;">Expiration Date: </span>
                                        {{input placeholder="MM" class="cds-text-input" type="text" size="3" maxlength="2" value=expirationMonth}}
                                        <!--<input type="text" size="2" data-stripe="exp-month"/>-->
                                        <span> / </span>
                                        {{input placeholder="YYYY" class="cds-text-input" type="text" size="4" maxlength="4" value=expirationYear}}
                                        {{#if invalidDate}}
                                            {{#if expirationDate}}
                                                <span class="cds-error-message-flag" style="display: block;">invalid expiration date</span>
                                            {{else if submissionErrors.expirationYear}}    
                                                <span class="cds-error-message-flag" style="display: block;">{{submissionErrors.expirationYear}}</span>
                                            {{/if}}                                            
                                        {{/if}}
                                    </div>
                                </div>

                                <button class="cds-button cds-button-aw-medium payment-button" type="submit" {{action 'processCard'}}>Submit Payment</button>
                            </form>
                        </div>


                    </div>
                </div>
